//
   Created by Kaboyi on 2016/12/17.
html(ng-app='')
    head
        script(src='//code.angularjs.org/1.1.0/angular.min.js')
        //script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    body
        div
            input(ng-model='yourName' placeholder='Enter a name here' value='c')
            h1 Hello, {{ yourName }}!