doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='DR')
        meta(name='author', content='Kaboyi')

        title= title

        //link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/loading-bar.css')

        //HTML5 Support
        script(src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
        script(src="//oss.maxcdn.com/respond/1.4.2/respond.min.js")
        script(src="/javascripts/ext-all.js")

    body(ng-app='DRApp')
        //TODO 这个功能给完善一下,好么
        div.navbar-fixed-topnavbar.navbar-inverse.navbar-fixed-top(role="navigation" data-ng-controller="DRHomeCtrl")
            div.container
                div.navbar-header
                    button.navbar-toggle.collapse(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only TO
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') #{title}
                div.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(ng-href='#/') 主页
                        li(data-ng-show='token')
                            a(ng-href='#/me') 我的世界
                        li(data-ng-hide='token')
                            a(ng-href='#/signin') 登录
                        li(data-ng-hide='token')
                            a(ng-href='#/signup') 注册
                        li(data-ng-show='token')
                            a(ng-href='logout()') 登出
            div.container
                block content
            div.container(ng-view)
        //block script
        script(src='/javascripts/jquery.min.js')
        //script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
        script(src='/javascripts/bootstrap.min.js')
        //script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js')
        //script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js')
        script(src='/javascripts/angular.min.js')
        script(src='/javascripts/angular-route.min.js')

        script(src='/javascripts/ngStorage.js')
        script(src='/javascripts/loading-bar.js')
        script(src='/javascripts/DRApp.js')
        script(src='/javascripts/DRHomeCtrl.js')
        script(src='/javascripts/DRServices.js')
        //script(src='/javascripts/EXTApp.js')
